name: Frontend CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker Image
        # We create a dummy .env file because the build will fail without it
        run: |
          echo "VITE_API_URL=http://localhost:8080" > .env
          docker build -t sira-frontend:test .
